@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* THEME */
    --antiflash-white-hex: #ebebebff; /* gallary-100 */
    --ghost-white-hex: #f8f8ffff; /* white-lilac-50 */
    --picton-blue-hex: #0ea5e9ff; /* picton-blue-500 */
    --picton-blue-alt-hex: #0370a1; /* picton-blue-700 */
    --charcoal-hex: #474954ff; /* mako-700 */
    --rusty-red-hex: #d62246ff; /* crimson-600 */
    --rust-red-alt-hex: #9b1638; /* crimson-800 */
    --night-hex: #090a0bff; /* cod-gray-950 */
    --night-alt-hex: #383d41ff; /* cod-gray-900 */

    --foreground-hex: var(--night-hex);
    --background-hex: var(--antiflash-white-hex);
    --primary-hex: var(--picton-blue-hex);
    --secondary-hex: var(--rusty-red-hex);
    --panel-hex: var(--ghost-white-hex);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --foreground-hex: var(--antiflash-white-hex);
        --background-hex: var(--night-alt-hex);
        --primary-hex: var(--picton-blue-alt-hex);
        --secondary-hex: var(--rusty-red-alt-hex);
        --panel-hex: var(--night-hex);
    }
} */

body {
    color: var(--foreground-hex);
    background-color: var(--background-hex);
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--primary-hex);
}
